* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #1d1d1d;
  user-select: none;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 95vh;
}

.tega {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  gap: 30px;
  width: 60%;
  height: 300px;
  margin: 0 auto;
  border-radius: 8px;
  background: #0c0c0c;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

input {
  background-color: #111111;
  border-radius: 6px;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  padding: 4px;
  height: 34px;
  outline: none;
  border: 1px solid #333333;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);

  transition: box-shadow 0.3s;
}

input:focus {
  border: 1px solid #383838;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.75);
}

.money {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0px auto;
  gap: 2px;
  color: #000;
}

.total-money {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
  gap: 8px;
}

.money-per-second span {
  display: flex;
  font-weight: 400;
  font-size: 12px;
}

.upgrades-store {
  display: flex;
  min-height: 72px;
  gap: 2px;
  padding: 8px;
  background-color: #0c0c0c;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.boxUpgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #111111;
  width: 56px;
  height: 56px;
  border: 2px solid #333333;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  transition: box-shadow 0.3s;
}

.store {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  gap: 16px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  background-color: #0c0c0c;
  border-radius: 8px;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 138px;

  background: #111111;
  border-radius: 6px;
  border: 2px solid #333333;
  padding: 4px 6px;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(40, 40, 40, 0.75);

  transition: box-shadow 0.3s;
}

.upgrade {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  gap: 2px;
  font-size: 12px;
}

.upgrade img {
  height: 22px;
  width: 22px;
}

.product:hover,
.boxUpgrade:hover {
  border: 2px solid #383838;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(40, 40, 40, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(40, 40, 40, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(40, 40, 40, 0.75);
}

.disabled {
  opacity: 0;
}
