@font-face {
  font-family: "Chicago";
  src: url("font/W95FARegular.woff2") format("woff2"), url("font/W95FARegular.woff") format("woff");
}

* {
  font-family: "Chicago", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3a6ea5;
  user-select: none;
}

.windows {
  transition: opacity 0.1s;
}

.window {
  position: absolute;
  margin: 0 auto;
}

.window:nth-child(1) {
  top: 15%;
  left: calc(50% - 130px);
}

.window:nth-child(2) {
  top: 26%;
  left: calc(50% - 300px);
}

.window:nth-child(3) {
  top: 46%;
  left: calc(50% - 300px);
}

.window:nth-child(4) {
  top: 65%;
  left: calc(50% - 300px);
}

.moneyWindow,
.typingWindow,
.storeWindow,
.upgradesWindow {
  position: absolute;
  background-color: #bdbebd;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #313131;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.moneyWindow {
  width: 260px;
}

.upgradesWindow {
  width: 600px;
}

.storeWindow {
  width: 600px;
}

.typingWindow {
  width: 600px;
}

.title-bar {
  display: flex;
  margin: 1px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 2px;
  background: linear-gradient(to right, rgb(130, 130, 130), rgb(130, 130, 130, 0));
}

.window-body {
  display: flex;
  flex-direction: column;
  margin: 4px;
  font-size: 12px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

#word-here {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  justify-content: center;
  align-items: flex-end;
  height: 33%;
}

#typeSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 4px;
}

#progress-bar {
  visibility: hidden;
  width: 100%;
  background-color: silver;
  border: 1px inset #d5d5d5;
}

#progress {
  height: 0.75rem;
  background-color: #1a0094;
}

.config {
  display: flex;
  align-items: flex-start;
  height: 30px;
  gap: 4px;
}

.wallet {
  display: flex;
  align-items: center;
  gap: 4px;
}

.auto-keyboard {
  display: flex;
  align-items: flex-end;
}

.auto-keyboard > img {
  height: 26px;
  cursor: pointer;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 120px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 32px;
  border-radius: 2px;
  padding: 6px 8px;
  background-color: silver;
  border: 1px solid #313131;
  border-radius: 2px;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  opacity: 0;
}

.tooltiptext::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 5%;
  border-width: 5px;
  border-style: solid;
  border-color: #222222 transparent transparent transparent;
}

.tooltiptext > span {
  letter-spacing: 0.1em;
  border-bottom: 1px dashed #000;
}

#type-here {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  outline: none;
  width: 100%;
  padding: 3px 4px;
  border: 2px inset #d5d5d5;
  background-color: #fff;
  -webkit-box-shadow: -1px -1px 0 0 #828282;
  -moz-box-shadow: -1px -1px 0 0 #828282;
  box-shadow: -1px -1px 0 0 #828282;
}

.auto-keyboard:hover .tooltiptext {
  visibility: visible;
  transition-duration: 0.2s;
  transition-delay: 0.5s;
  opacity: 1;
}

.product:active,
.boxUpgrade:active,
.options button:active,
.promptBtnDiv > button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  transform: translateY(2px);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.auto-keyboard:active,
.save:active,
#exit:active {
  transform: translateY(2px);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard {
  height: 26px;
}

.total-money {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;
  gap: 4px;
}

.save {
  display: flex;
  height: 26px;
  cursor: pointer;
}

.keyboardEarned {
  font-size: 12px;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.keyboardEarned.show {
  opacity: 1;
}

@keyframes moveUp {
  0% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(0px, -8px);
  }
}

.money-per-second span {
  display: flex;
  font-size: 12px;
}

.upgrades {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.boxUpgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.store {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  gap: 16px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 160px;
  gap: 4px;
  padding: 4px 6px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.upgrade {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2px;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.upgrade > img {
  height: 20px;
}

.keyboard > img {
  content: url(https://gist.githubusercontent.com/347fabricio/79edf1cc4d84aab660a7c5cb3204abdd/raw/da4a77d49bd189be440c17455a15838045100530/sKeyboard.svg);
  height: 20px;
}

.assistant > img {
  content: url(https://gist.githubusercontent.com/347fabricio/5fe67a3ae3b1956d471ff1c6f0c28684/raw/1c9301df43cc43435ea3a7cb03c28189326efe41/assistant.svg);
  width: 42px;
}

.coffeeMachines > img {
  content: url(https://gist.githubusercontent.com/347fabricio/44d2122e54468aaa1c8c257ec773ccc2/raw/684997d3fb7f10b37d33e7a46eb93457a8263cef/coffeeMachines.svg);
  width: 42px;
}

.ergonomicChairs > img {
  content: url(https://gist.githubusercontent.com/347fabricio/d5439287f8ef4e00154fbc3a31855fe9/raw/b82ddfff2fe78bc04df7c8e0da6cac82257e6b5b/ergonomicChairs.svg);
  width: 42px;
}

.textEditor > img {
  content: url(https://gist.githubusercontent.com/347fabricio/2057675cfaf8f2a855d2d93c2f4e46fc/raw/635784f97c4475f41260e488636e158c0e29b5c0/textEditor.svg);
  width: 42px;
}

.speechToText > img {
  content: url(https://gist.githubusercontent.com/347fabricio/8ef56585c84580e037a6899d2d5ee821/raw/2ee113307ef4db315768c09e4d29ca1887eac831/speechToText.svg);
  width: 42px;
}

.disabled {
  opacity: 0;
}

.tooltip-product {
  visibility: hidden;
  position: absolute;
  width: max-content;
  letter-spacing: 0.1em;
  padding: 6px 8px;
  margin-left: -5px;
  margin-bottom: 50px;
  background-color: silver;
  border: 1px solid #313131;
  border-radius: 2px;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-product::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  border-width: 5px;
  border-style: solid;
  border-color: #0a0a0a transparent transparent transparent;
}

.tooltip-upgrade {
  visibility: hidden;
  position: absolute;
  letter-spacing: 0.1em;
  width: max-content;
  border: 1px solid #313131;
  border-radius: 2px;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border-radius: 2px;
  padding: 10px 8px 10px 38px;
  margin-bottom: 102px;
  background-image: url(./assets/sKeyboard.svg);
  background-repeat: no-repeat;
  background-position: 4px 10px;
  background-size: 30px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-upgrade::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  border-width: 5px;
  border-style: solid;
  border-color: #0a0a0a transparent transparent transparent;
}

.tooltip-upgrade > span {
  font-weight: bold;
  border-bottom: 1px dashed #000;
}

.boxUpgrade:hover .tooltip-upgrade {
  visibility: visible;
  opacity: 1;
}

.product:hover {
  .tooltip-product {
    visibility: visible;
    opacity: 1;
  }
}

ul#prolist {
  display: none;
  list-style-position: inside;
}

li.item {
  font-size: 12px;
  padding: 2px 0;
}

.item > span {
  position: relative;
  border-bottom: 1px dashed #000;
  left: -8px;
}

.bonusTooltip {
  height: 18px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.show {
  opacity: 1;
}

.options {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 2px;
  border: 2px solid #333333;
  padding: 10px 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: #bdbebd;
  border-radius: 2px;
  border: 1px solid #313131;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  transition: opacity 0.1s;
  visibility: hidden;
}

.options button {
  cursor: pointer;
  text-align: start;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 2px 8px;
}

.notes {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  margin: auto;
  width: fit-content;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.saved {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#exit {
  position: absolute;
  right: 10px;
  padding: 0 4px;
  width: fit-content;
  cursor: pointer;
}

#exit > img {
  height: 26px;
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  width: 340px;
  height: 280px;
  padding: 10px 8px;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.prompt > h3 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  width: 75%;
  border-bottom: 1px dashed #000;
  letter-spacing: 0.2rem;
}

.prompt > textarea {
  padding: 4px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: silver;
  font-size: 12px;
  font-weight: bold;
  height: 160px;
  letter-spacing: 0.1em;
  resize: none;
  scrollbar-width: thin; /* safari it's not compatible
  */
}

.promptBtnDiv {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.promptBtnDiv > button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #313131;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 60px;
  padding: 2px 12px;
}

@media screen and (max-width: 760px) {
  .windows {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    height: 100vh;
  }

  .window {
    position: unset;
    width: unset;
    align-content: center;
  }

  .window:nth-child(1) {
    grid-column: 1/3;
  }

  .window:nth-child(2) {
    grid-column: 1/3;
  }

  .window:nth-child(3) {
    grid-column: 1/2;
    justify-self: flex-end;
    align-content: flex-start;
    margin: 0;
    width: fit-content;
  }

  .window:nth-child(4) {
    grid-column: 2/3;
    justify-self: flex-start;
    align-content: flex-start;
    margin: 0;
    width: fit-content;
  }

  .typingWindow {
    width: 75vw;
  }

  .storeWindow {
    width: 100%;
  }

  .upgradesWindow {
    width: 100%;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 116px;
  }

  .upgrades {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .moneyWindow,
  .typingWindow,
  .storeWindow,
  .upgradesWindow {
    position: unset;
  }

  .tooltiptext {
    margin-left: 30px;
    margin-bottom: 0px;
  }

  .tooltiptext::after {
    top: 50%;
    left: -10px;
    border-color: transparent #222222 transparent transparent;
  }
}
